

<div class="modal fade" 
     id="createConsumer" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     aria-labelledby="consumerTitle" 
     aria-hidden="true"
     >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="consumerTitle">CREATE CONSUMER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  class="needs-validation" 
                      id="consumerAdd" 
                      action="/Customer/Create" 
                      method="post" 
                      novalidate 
                      autocomplete="off">
                    <div class="form-floating mb-3">
                        <input type="text" 
                               class="form-control mw-100" 
                               name="txtname" 
                               id="consumerName" 
                               placeholder="consumerName" 
                               required />
                        <label for="consumerName">CONSUMER NAME</label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control  mw-100"
                               name="txtpassport"
                               id="passport"
                               placeholder="passport"
                               required />
                        <label>PASSPORT/ID CARD</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control  mw-100"
                               name="txtphone"
                               id="phone"
                               placeholder="phone"
                               required />
                        <label>PHONE</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control  mw-100"
                               name="txttype"
                               id="type"
                               placeholder="type"
                               required />
                        <label>CONSUMER TYPE</label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit"
                                class="btn btn-primary m-1">
                            SAVE
                        </button>
                        <button type="button"
                                class="btn btn-danger m-1"
                                data-bs-dismiss="modal">
                            CANCEL
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
