<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <div class="container-fluid ps-1 m-0 ps-md-4 ">
        <a class="navbar-brand" href="#">
            <img src="~/asset/luckyLogo.jpg" alt="" width="45" height="45" class="d-inline-block text-align-top" />
        LUCKY HOUSE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-sm"
                aria-controls="#navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex d-none d-md-block ">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-1 text-center">
                <li class="nav-item mx-0 mx-lg-2 py-lg-2">
                    <a href="#" class="position-relative" role="button">
                        <i class="fa-solid fa-bell text-white"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger px-1">
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>

                <li class="nav-item dropdown mx-0 mx-lg-1">
                    <a class="nav-link dropdown-toggle" id="navdrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-thumbnail rounded-circle" width="30" height="30" src="~/asset/myAvatar.jpg" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navdrop">
                        <li class="dropdown-header text-center">
                            <img class="img-thumbnail rounded-circle" width="50" height="50" src="~/asset/myAvatar.jpg" />
                            <p class="text-primary">Soun Thida</p>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">Logout</li>
                        <li class="dropdown-item">About</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Left navbar-sm-->
<div class="offcanvas offcanvas-start text-white d-block d-md-none" tabindex="-1" id="navbar-sm" aria-labelledby="canvas-title">
    <div class="offcanvas-header">      
        <h5 class="offcanvas-title text-primary text-uppercase" id="canvas-title">Categories</h5>
        <button type="button" class="btn-close  text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row row-cols-sm-1 flex-column">
            <div class="col d-flex justify-content-center  align-items-center">
                <img class="img-thumbnail rounded-circle" width="80" height="80" src="~/asset/myAvatar.jpg" />
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h5 class="offcanvas-title text-primary" id="canvas-title">Soun Thida</h5>
            </div>
        </div>
        <nav class="nav flex-column">
            <ul class="navbar-nav">
                <li class="nav-item dropdown-divider"></li>
                <li class="nav-item text-center">
                    <a class=" btn btn-primary btn-md shadow p-1 px-3 mb-3 bg-primary rounded" role="button" href="#">
                        <i class="fa-solid fa-chart-line px-2"></i>  Dashboard
                    </a>
                </li>                
                <li class="nav-item nav-hover ps-2">
                    <a class="nav-link text-primary" href="/Room/Index" aria-current="page">
                        <i class="fa-solid fa-bed text-primary"></i>  Room
                    </a>
                </li>
                <li class="nav-item nav-hover ps-2">
                    <a class="nav-link text-primary" href="/Customer/Index">
                        <i class="fa-solid fa-users"></i>   Customer
                    </a>
                </li>
                <li class="nav-item nav-hover ps-2">
                    <a class="nav-link text-primary" href="/Book/Index">
                        <i class="fa-solid fa-book-open"></i> Booking
                    </a>
                </li>
                <li class="nav-item nav-hover ps-2">
                    <a class="nav-link text-primary" href="/Checkin/Index">
                        <i class="fa-solid fa-list-check"></i> Checkin
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
