<div class="row row-cols-2 mt-3 mt-md-3">
    <div class="col col-md-2 bg-image d-flex d-none d-md-block justify-content-center align-items-center" style=" background-image:url('../asset/images.jpg');">

        <div class="row row-cols-1 pt-3">
            <div class="col d-flex justify-content-center">
                <img src="~/asset/myAvatar.jpg" class="rounded-circle" width="40" height="40" />
            </div>

            <div class="col d-flex justify-content-center">
                <h6 class="text-white">Soun thida</h6>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-10 pt-3 bg-image d-flex justify-content-between align-items-center" style="background-image:url('../asset/rigth1.jpg')">

        <div>
            <h4 class="text-white">Dashboard</h4>            
        </div>
        <h5 class="text-white">Home</h5>

    </div>
</div>
